.footer {
background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
    &__brand {
    display: inline-block;
    font-family: Raleway;
    color: $hero-text;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    }
    &__location {
    display: inline-block;
    color: $hero-text;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: $focus-color;
        }
    }
    &__address {
    display: inline-block;
    align-items: baseline;
    color: $adress-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: $focus-color;
        }
    }
    &__tittle {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF
    }
}

.footer__social--list {
display: flex;
width: 206px;
height: 44px;
justify-content: center;
align-items: center;
}

.footer__contacts--list li:not(:last-child) {
margin-top: 9px;
margin-bottom: 9px;
}

.footer__social--icon {
display: flex;
width: 20px;
height: 20px;
margin: 12px;
}

.footer__social {
    align-items: baseline;
    margin-left: 70px;
    &--icon {
        fill: currentColor;
        display: flex;
        width: 20px;
        height: 20px;
        margin: 12px;
    }
    &--contaner {
        display: flex;
    }
    &--link {
    color: $hero-text;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: $hero-text;
        background-color: $focus-color;
        }
    }
}

.footer__social--list li:not(:first-child) {
margin-left: 10px;
}

.footer .contaner {
display: flex;
justify-content: space-between;
}

.footer__section--form {
margin-left: 93px;
}

.footer__button {
display: flex;
border: none;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
width: 200px;
height: 50px;
background-color: $focus-color;
color: $hero-text;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
justify-content: center;
align-items: center;
margin-left: 12px;
margin-top: 35px;
cursor: pointer;
    &--icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
    }
}

.footer__form {
display: flex;
    &--label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $hero-text;
    }  
    &--input {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    margin-top: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    padding-left: 16px;
    cursor: pointer;
        &:hover,
        &:focus {
        border-color: $focus-color;
        color: rgba(255, 255, 255, 0.6);
        }
    }
}

.footer__form--input:hover::placeholder,
.footer__form--input:focus::placeholder {
color: rgba(255, 255, 255, 0.6);
}